@model Pharmix.Web.Models.PatientViewModel.MaternityContactViewModel

@{
    Layout = "_LayoutPregnancy";
    ViewData["PatientId"] = Model.PatientId;
    ViewBag.Title = "Patient Info";
}

@if (Model.IsAdmin)
{
    <form id="formUser" asp-action="MaternityContact" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="PatientId" />
        <input type="hidden" asp-for="PregnancyId" />
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        <div class="row">

            <div class="box">

                <div class="box-header">
                    <div class="col-sm-12">
                        <div class="form-group text-center">
                            <button type="submit" id="btnSaveUser" class="btn btn-sm btn-success">Save All Changes</button>
                            <a href="@Url.Action("Detail")" class="btn btn-sm btn-danger">Back</a>
                        </div>
                    </div>
                    <h3 class="box-title">Maternity Contact</h3>
                </div>
            </div>
            <div class="col-sm-6 form-horizontal">
                <div class="form-group">
                    <label asp-for="Midwife" class="col-sm-5 control-label"></label>
                    <div class="col-sm-7">
                        <input asp-for="Midwife" class="form-control" />
                    </div>
                    <span asp-validation-for="Midwife" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaternityUnit" class="col-sm-5 control-label"></label>
                    <div class="col-sm-7">
                        <input asp-for="MaternityUnit" class="form-control" />
                    </div>
                    <span asp-validation-for="MaternityUnit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AntenatalClinicPhone" class="col-sm-5 control-label"></label>
                    <div class="col-sm-7">
                        <input asp-for="AntenatalClinicPhone" class="form-control" />
                    </div>
                    <span asp-validation-for="AntenatalClinicPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CommunityOfficePhone" class="col-sm-5 control-label"></label>
                    <div class="col-sm-7">
                        <input asp-for="CommunityOfficePhone" class="form-control" />
                    </div>
                    <span asp-validation-for="CommunityOfficePhone" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6 form-horizontal">
                <div class="form-group">
                    <label asp-for="MidwifePhone" class="col-sm-5 control-label"></label>
                    <div class="col-sm-7">
                        <input asp-for="MidwifePhone" class="form-control" />
                    </div>
                    <span asp-validation-for="MidwifePhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaternityUnitPhone" class="col-sm-5 control-label"></label>
                    <div class="col-sm-7">
                        <input asp-for="MaternityUnitPhone" class="form-control" />
                    </div>
                    <span asp-validation-for="MaternityUnitPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliverySuitePhone" class="col-sm-5 control-label"></label>
                    <div class="col-sm-7">
                        <input asp-for="DeliverySuitePhone" class="form-control" />
                    </div>
                    <span asp-validation-for="DeliverySuitePhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AmbulancePhone" class="col-sm-5 control-label"></label>
                    <div class="col-sm-7">
                        <input asp-for="AmbulancePhone" class="form-control" />
                    </div>
                    <span asp-validation-for="AmbulancePhone" class="text-danger"></span>
                </div>
            </div>
        </div>

    </form>
}
else
{
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Communication Need</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 form-horizontal">
            <div class="form-group">
                <label asp-for="Midwife" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    @Model.Midwife
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MaternityUnit" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    @Model.MaternityUnit
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AntenatalClinicPhone" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    @Model.AntenatalClinicPhone
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CommunityOfficePhone" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    @Model.CommunityOfficePhone
                </div>
            </div>
        </div>
        <div class="col-sm-6 form-horizontal">
            <div class="form-group">
                <label asp-for="MidwifePhone" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    @Model.MidwifePhone
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MaternityUnitPhone" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    @Model.MaternityUnitPhone
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DeliverySuitePhone" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    @Model.DeliverySuitePhone
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AmbulancePhone" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    @Model.AmbulancePhone
                </div>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}